<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yrkj.mapper.IntegralProductMapper">

    <insert id="insert" parameterType="IntegralProduct" useGeneratedKeys="true" keyProperty="id">
       INSERT INTO tiekuai.t_integral_product (
            create_by,
            create_time,
            online_time,
            product_name,
            product_type,
            product_price,
            inventory,
            image1,
            image2,
            description,
            content
            )
        VALUES
        (
            #{create_by},
            #{create_time},
            #{online_time},
            #{product_name},
            #{product_type},
            #{product_price},
            #{inventory},
            #{image1},
            #{image2},
            #{description},
            #{content}
	      );
    </insert>
    <insert id="InsertOrder" parameterType="IntegralOrder" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO tiekuai.t_integral_order (
	order_num,order_type,product_type,order_from,order_name,order_count,open_id,order_state,order_cost,create_by,create_time,address,receiver,phone
)
VALUES
	(
	#{order_num},#{order_type},#{product_type},	#{order_from},	#{order_name},	#{order_count},	#{open_id},	#{order_state},	#{order_cost},
	#{create_by},	#{create_time},	#{address},	#{receiver},	#{phone}
	);
    </insert>

      <update id="update" parameterType="IntegralProduct">
        UPDATE tiekuai.t_integral_product
        SET
        update_by = #{update_by},
        update_time = #{update_time},
        online_time = #{online_time},
        product_name = #{product_name},
        product_type = #{product_type},
        product_price = #{product_price},
        inventory = #{inventory},
        image1 = #{image1},
        image2 = #{image2},
        description = #{description},
        content = #{content}
        WHERE
        id=#{id};
    </update>
    <update id="UpdateCourier" parameterType="CourierInput">
      update t_integral_order set courier_company=#{courier_company},courier_order=#{courier_order},courier_time=#{courier_time}
        where order_num=#{order_num}
    </update>
    <update id="delete" parameterType="IdsModel">
        UPDATE tiekuai.t_integral_product SET is_deleted = 1
        WHERE status = 0
        AND id in
        <foreach separator="," index="index" item="item" collection="list" close=")" open="(">
            #{item}
        </foreach>
    </update>

    <select id="selectById" parameterType="java.lang.Long" resultType="IntegralProduct">
        SELECT * FROM tiekuai.t_integral_product WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="selectAll" parameterType="IntegralSearch" resultType="IntegralProduct">
        SELECT * from  tiekuai.t_integral_product t  WHERE t.is_deleted = 0
        <if test="name!=null"> AND t.product_name LIKE #{name} </if>
        <if test="status!=null"> AND t.status = #{status} </if>
        <if test="cate!=null"> AND t.product_type = #{cate} </if>

        ORDER BY t.create_time DESC
    </select>

    <select id="GetIntegralProducts" parameterType="SearchModel" resultType="IntegralDto">
      SELECT
        a.product_name,
        a.id,
        a.product_price,
        a.inventory,
        a.image1,
        a.image2,
        a.product_type, a.inventory-ifnull(b.count,0) less
        FROM
            t_integral_product a
        LEFT JOIN (
            SELECT
                order_from,
                sum(order_count) count
            FROM
                t_integral_order where order_state=1
            GROUP BY
                order_from
        ) b on a.id=b.order_from
        where a.`status`=1
                <if test="name!=null"> and a.product_name LIKE #{name} </if>
        ORDER BY a.create_time DESC

    </select>

    <select id="GetIntegralById" parameterType="java.lang.Long" resultType="IntegralProduct">
        SELECT
        a.product_name,
        a.id,
        a.product_price,
        a.image1,
        a.image2,
        a.product_type,
        a.inventory-ifnull(b.count,0) AS  inventory,
        a.online_time,
        a.description,
        a.content
        FROM
        t_integral_product a
        LEFT JOIN (
        SELECT
        order_from,
        sum(order_count) count
        FROM
        t_integral_order  where order_state=1
        GROUP BY
        order_from
        ) b on a.id=b.order_from
        where a.`status`= 1 AND a.is_deleted = 0 and a.id = #{id}

    </select>
    <update id="updateStatus" parameterType="ChangeStatusModel">
        UPDATE tiekuai.t_integral_product SET status = #{status}
        WHERE id in
        <foreach separator="," index="index" item="item" collection="list" close=")" open="(">
            #{item}
        </foreach>
    </update>
    <select id="selectOrders" parameterType="IntegralSearch" resultType="IntegralOrder">
       SELECT *
        FROM
	t_integral_order t where 1=1
        <if test="name!=null"> AND t.order_name LIKE #{name} </if>
        <if test="status!=null"> AND t.order_state = #{status} </if>
        <if test="cate!=null"> AND t.order_type = #{cate} </if>
    </select>

</mapper>