<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yrkj.mapper.ShufflingMapper">

    <insert id="insert" parameterType="Shuffling">
        INSERT INTO t_shuffling (shuffling_name, url, weight, online_time, image, sort, create_by, create_time,cate)
        VALUES (#{shuffling_name}, #{url}, #{weight},#{online_time}, #{image}, #{sort}, #{create_by}, #{create_time},#{cate});
    </insert>
    
    <update id="delete" parameterType="IdsModel">
        UPDATE t_shuffling SET is_deleted = 1
        WHERE is_deleted=0 AND id in
        <foreach separator="," index="index" item="item" collection="list" close=")" open="(">
            #{item}
        </foreach>
    </update>
    <update id="updateStatus" parameterType="ChangeStatusModel">
        UPDATE t_shuffling SET status = #{status}
        WHERE id in
        <foreach separator="," index="index" item="item" collection="list" close=")" open="(">
            #{item}
        </foreach>
    </update>

    <select id="selectAll" parameterType="ShufflingSearch" resultType="ShufflingDto">
        SELECT
           *
        FROM
            t_shuffling
        WHERE
            is_deleted = 0 and cate=#{cate}
        <if test="name!=null"> AND shuffling_name LIKE #{name} </if>
    </select>
    <update id="update" parameterType="Shuffling">
      UPDATE t_shuffling
        SET shuffling_name = #{shuffling_name},
         url = #{url},
         weight = #{weight},
         online_time = #{online_time},
         image = #{image},
         sort = #{sort},
         update_by = #{update_by},
         update_time = #{update_time}
        WHERE id=#{id};
    </update>
    <select id="selectById" parameterType="java.lang.Long" resultType="Shuffling">
        SELECT * FROM t_shuffling WHERE id =#{id} AND is_deleted =0
    </select>

</mapper>