<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yrkj.mapper.UserMapper">

    <insert id="insert" parameterType="java.lang.String">
        INSERT INTO t_user (
          open_id ,
          create_time
        )
        VALUES (
          #{open_id} ,
          SYSDATE()
        )
    </insert>

    <select id="selectByOpenId" parameterType="java.lang.String" resultType="User">
        SELECT
            t_user.id ,
            t_user.open_id ,
            t_user.mobile ,
            t_user.nick_name ,
            t_user.sex ,
            t_user.avatar ,
            t_user.address ,
            t_user.birthday ,
            (SELECT a.name FROM sys_city a WHERE a.id = t_user.province) as province,
            (SELECT a.name FROM sys_city a WHERE a.id = t_user.city) as city,
            t_user.receiver ,
            t_user.postal_code,
            t_user.achievement_val,
            t_user.integration_val,
            t_user.badge_count,
            t_user.designation
        FROM t_user
	   WHERE t_user.open_id = #{open_id}
    </select>
    
    <update id="update" parameterType="User">
        UPDATE t_user
           SET
               nick_name    = #{nick_name},
               avatar       = #{avatar},
               sex          = #{sex},
               birthday     = #{birthday},
               address      = #{address},
               province     = #{province},
               city         = #{city},
               receiver     = #{receiver},
               postal_code  = #{postal_code},
               update_time  = #{update_time}
        WHERE  open_id      = #{open_id}
    </update>

    <update id="updateUserVal" parameterType="User">
        UPDATE t_user
           SET
               integration_val  = #{integration_val},
               achievement_val  = #{achievement_val},
               badge_count  = #{badge_count}
        WHERE  open_id      = #{open_id}
    </update>
    <update id="UpdateUserIntegrationVal" parameterType="User">
        UPDATE t_user
        SET
        integration_val  = #{integration_val}
        WHERE  open_id      = #{open_id}
    </update>

    <insert id="insertUserAddress" parameterType="UserAddress">
        INSERT INTO t_user_address(
            open_id,
            province_id,
            province_name,
            city_id,
            city_name,
            address,
            receiver,
            phone,
            post_code,
            is_default,
            is_delete
        )VALUES (
            #{open_id},
            #{province_id},
            #{province_name},
            #{city_id},
            #{city_name},
            #{address},
            #{receiver},
            #{phone},
            #{post_code},
            #{is_default},
            0
        )
    </insert>

    <select id="selectUserAddressList" parameterType="java.lang.String" resultType="UserAddress">
        SELECT * FROM t_user_address WHERE open_id = #{open_id} AND is_delete = 0
    </select>

    <select id="selectUserDefaultAddress" parameterType="java.lang.String" resultType="UserAddress">
        SELECT * FROM t_user_address WHERE open_id = #{open_id} AND is_delete = 0 AND is_default = 1
    </select>

    <select id="selectUserAddressInfo" parameterType="java.lang.Long" resultType="UserAddress">
        SELECT * FROM t_user_address WHERE id = #{id} AND is_delete = 0
    </select>

    <update id="updateUserAddress" parameterType="UserAddress">
        UPDATE t_user_address
           SET
            province_id = #{province_id},
            province_name = #{province_name},
            city_id = #{city_id},
            city_name = #{city_name},
            address = #{address},
            receiver = #{receiver},
            phone = #{phone},
            post_code = #{post_code},
            is_default = #{is_default}
        WHERE id = #{id}
          AND open_id = #{open_id}
    </update>

    <update id="updateUserAddressNotDefault" parameterType="java.lang.String">
        UPDATE t_user_address
           SET is_default = 0
         WHERE open_id = #{open_id}
    </update>

    <update id="updateUserAddressDefault" parameterType="UserAddress">
        UPDATE t_user_address
           SET is_default = 1
         WHERE id = #{id}
           AND open_id = #{open_id}
    </update>

    <update id="deleteUserAddress" parameterType="java.lang.Long">
        UPDATE t_user_address SET is_delete = 1
        WHERE id = #{id}
    </update>
    
    <select id="selectDefaultAddressPrice" parameterType="java.lang.String" resultType="Order">
        SELECT
            a.province_id ,
            a.city_id ,
            a.province_name ,
            a.city_name ,
            a.address ,
            a.phone ,
            a.receiver ,
            b.price as courier_cost
        FROM
            t_user_address a ,
            t_postage b
        WHERE
            a.id = b.id
         AND a.open_id = #{open_id}
         AND a.is_default = 1
    </select>

    <select id="selectUserIntegrationVal" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COALESCE(SUM(integration_val),0) from t_user_integration WHERE open_id = #{open_id}
    </select>

    <select id="selectUserAchievementVal" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COALESCE(SUM(achievement_val) , 0) FROM t_user_achievement WHERE open_id = #{open_id}
    </select>

    <select id="selectUserBadge" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1) from t_user_product a,t_product b WHERE a.product_id = b.id AND b.is_badge = 1 AND a.open_id = #{open_id}
    </select>

    <!--首页轮播图-->
    <select id="selectShuffling" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
            t.image ,
            t.url
        FROM
            t_shuffling t
        WHERE
            t.is_deleted = 0
        AND t. STATUS = 1
        AND SYSDATE() >= t.online_time
        AND t.cate = #{cate}
        ORDER BY
            t.weight ASC
    </select>

</mapper>