<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.yrkj.model"/>
    </typeAliases>
    <mappers>

        <!--系统维护-->
        <mapper resource="mybatis-mapper/SysUserMapper.xml"/>
        <mapper resource="mybatis-mapper/SysRoleMapper.xml"/>
        <mapper resource="mybatis-mapper/SysMenuMapper.xml"/>
        <mapper resource="mybatis-mapper/SysCommonMapper.xml"/>

        <!--商品管理-->
        <mapper resource="mybatis-mapper/ProductMapper.xml"/>

        <!--游迹管理-->
        <mapper resource="mybatis-mapper/TravelsMapper.xml"/>

        <!--成就管理-->
        <mapper resource="mybatis-mapper/AchievementMapper.xml"/>

        <!--分类管理-->
        <mapper resource="mybatis-mapper/CategoryMapper.xml"/>

        <!--微信用户-->
        <mapper resource="mybatis-mapper/UserMapper.xml"/>
        <!--微信商品-->
        <mapper resource="mybatis-mapper/UserProductMapper.xml"/>
        <!--订单-->
        <mapper resource="mybatis-mapper/OrderMapper.xml"/>

        <!--轮播图管理-->
        <mapper resource="mybatis-mapper/ShufflingMapper.xml"/>
        <!--邮费管理-->
        <mapper resource="mybatis-mapper/PostageMapper.xml"/>
        <!--积分商城管理-->
        <mapper resource="mybatis-mapper/IntegralProductMapper.xml"/>

        <mapper resource="mybatis-mapper/ClienteleMapper.xml"/>
        <!--用户勋章-->
        <mapper resource="mybatis-mapper/BadgeMapper.xml"/>
    </mappers>
</configuration>